@import "variables";

.station {
  width: 90%;

  &-record {
    padding: 10px 15px;
    margin: 10px 0px;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

// CSS for inner content fetched from APIs
#box {
  &-left {
    float: left;
    text-align: left;
  }
  &-right {
    float: right;
    text-align: right;
  }
}

.icon {
  &:before {
    color: $deeppink;
    padding-left: 10px;
  }
  &-red:before {
    color: $myred;
    padding-left: 10px;
  }
  &-green:before {
    color: $mygreen;
    padding-left: 10px;
  }
  &-capacity {
    font-size: 2em;
  }
  &-parking::before {
    content: "\f288";
  }
}

// Search input
#find {
  width: 90%;
  border: 1px solid $deeppink;
}

// Contact secton
.contact {
  text-align: center;
  width: 100%;
  margin-top: 70px;
}

// Responsive design for JSON content
@media screen and (max-width: 767px) {
  #box-left {
    float: none;
  }
  #box-right {
    float: none;
    text-align: left;
    margin-top: 20px;
  }
  .fa-th-list {
    margin-top: 30px;
  }
}
