$myblack: #000000;
$mywhite: #ffffff;
$deeppink: #60b3fb;
$bgColor: #f5f5f5;
$myblue: #00aeef;
$mygray: #808080;
$mygreen: #008000;
$bodyColor: #555;
$myred: #ff0000;

$headingFont: "Noto Serif", serif;
$bodyFont: "Lato", sans-serif;
